<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>
    <h3>현재 운행 중인 PM</h3>
    <table>
        <tr>
            <th>id</th>
            <th>latitude</th>
            <th>longitude</th>
        </tr>
        {% for r in runs %}
        <tr>
            <td>{{r.rid}}</td>
            <td>{{r.latitude}}</td>
            <td>{{r.longitude}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br><br>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>address</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>kickboard</th>
            <th>bicycle</th>
        </tr>
        {% for p in parkinglots %}
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.address}}</td>
            <td>{{p.latitude}}</td>
            <td>{{p.longitude}}</td>
            <td>{{p.kickboard}}</td>
            <td>{{p.bicycle}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>